In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
train_df = pd.read_csv("datas/mnist_train.csv")
test_df = pd.read_csv("datas/mnist_test.csv")

In [22]:
train_df.sample(1)

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
44637,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
X_train = train_df.iloc[:, 1:]
y_train = train_df.iloc[:, 1]
X_test = test_df.iloc[:, 1:]
y_test = test_df.iloc[:, 1]

In [31]:
y_train.head()

0    0
1    0
2    0
3    0
4    0
Name: 1x1, dtype: int64

In [28]:
X_train.head()

,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,1x10,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
X_train.shape

(60000, 784)

In [82]:
# ReLU activation function
def ReLU(z):
    return np.maximum(0, z)

In [134]:
# Softmax function
def sft_max(z):
    return np.exp(z)/np.sum(np.exp(z), axis = 0) #If z is a matrix (batch of inputs), softmax should be applied row-wise

In [135]:
# Initialization of weights
#layer 1
W1 = np.zeros(shape=(784, 4))
B1 = np.zeros(shape=(1, 4))

#Layer 2
W2 = np.zeros(shape=(4, 8))
B2 = np.zeros(shape=(1, 8))

#OUTPUT layer
W3 = np.zeros(shape=(8, 10))
B3 = np.zeros(shape=(1, 10))

In [126]:
# Prediction
def predict(W1, B1, W2, B2, W3, B3):
    Z1 = np.dot(X_train, W1) + B1
    A1 = ReLU(Z1)
    
    Z2 = np.dot(A1, W2) + B2
    A2 = ReLU(Z2)
    
    Z3 = np.dot(A2, W3) + B3
    A3 = sft_max(Z3)

    prediction =  np.argmax(A3) 
    """
    We Use argmax because the softmax function gives us probablity distrubution of all classes so use the index of the higest prediction
    """
    return prediction, A3

In [125]:
# one_hot encoding
def one_hot(val): 
    val = np.array(val)
    one_hot = np.zeros(shape= (val.shape[0], 10))
    one_hot[np.arange(val.size), val] = 1
    return one_hot

In [133]:
# Cost function
def cost(y, a):
    """ a is raw soft max output A3 """
    return (np.sum(y * np.log(a + 0.0000000001))/a.shape[0])

In [ ]:
# Back Propagation